Source: dtk6core
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper-compat (= 13), pkg-config,
 qt6-tools-dev-tools, qt6-base-private-dev, doxygen, qt6-documentation-tools,
 graphviz, libgsettings-qt-dev, libgtest-dev, libdtkcommon-dev, cmake,
 libuchardet-dev, libicu-dev, libsystemd-dev, libspdlog-dev
Standards-Version: 4.6.0
Section: libs
Rules-Requires-Root: no

Package: libdtk6core-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libdtk6core (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libdtk6core
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libdtk6core-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libdtk6core( =${binary:Version})
Description: Deepin Tool Kit Core Utilities
 DtkCore is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the utilities of DtkCore
